{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>歡迎光臨我的商店</title>
{% endblock%}

{% block content%}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
        {% for product in productlist%}
      <div class="carousel-item {% if product.pimage == '1.jpg' %} active {% endif %}">
        <img src="/static/images/products/{{ product.pimage}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{product.pname}}</h5>
          <p>{{product.pdescription}}</p>
        </div>
      </div>
        {%endfor%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col my-5">
        <h1>團隊介紹</h1>
        <p>
            這是一個django的購物車測試網站
        </p>
      </div>
    </div>
    <div class="row">
      <div class="my-3 col-12 col-md-6 d-flex align-items-center justify-content-center">
        <img class="rounded-circle "width="130px" src="/static/images/team/me.png" alt="">
        <div class="ms-2">
            <h5 class="text-primary fw-bold">何誠信</h5>
            <p class="text-muted">全端製作</p>
        </div>
      </div>
      <div class="my-3 col-12 col-md-6 d-flex align-items-center justify-content-center">
        <img class="rounded-circle "width="130px" src="/static/images/team/sin.png" alt="">
        <div class="ms-2">
            <h5 class="text-primary fw-bold">辛普森</h5>
            <p class="text-muted">負責內容</p>
        </div>
      </div>
    </div>
  </div>

{% endblock%}